.c-container {
    justify-content: space-between;
}

.c-container>div {
    flex: 1;
}

.c-right {
    width: 100%;
}

.c-container .c-right .img-container {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(232, 232, 232, 94%) !important;
}

.c-container .c-right .img-container img {
    width: 100%;
    height: 100%;

}

.c-left {
    gap: 0.5rem;
}

.contactModes {
    margin-top: 2rem;
    gap: 1.5rem;
}

.contactModes .row {
    gap: 1.5rem
}

.mode {
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 0.3s ease-in;
}

.mode .button {
    width: 100%;
    background: var(--lightBlue);
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 600;
}

.mode>:nth-child(1) {
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText {
    font-size: 1.1rem;
    font-weight: 600;
}

.mode:hover {
    box-shadow: var(--shadow);
    scale: 1.1;
}

.mode .button:hover {
    background: var(--blue-gradient);
    color: white;
    scale: 0.8;
}

@media (max-width:1024px) {
    .c-container {
        flex-direction: column;
    }

    .c-right {
        justify-content: center;
    }

    .contactModes {
        width: 100%;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }

    .mode {
        width: 100%;
    }
}


@media (max-width:768px) {
    .c-right .img-container {
        margin: auto;
        text-align: center;
        width: 45% !important;
        height: 25rem !important;
    }

    .c-right .img-container img {
        width: 100% !important;
        height: 100% !important;
    }
}